@font-face {
  font-family: "Roboto-Regular";
  src: url("Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Black";
  src: url("Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("Roboto-Medium.ttf");
}

@font-face {
  font-family: "AdventPro-Bold";
  src: url("AdventPro-Bold.ttf");
}

@font-face {
  font-family: "Unbounded-Regular";
  src: url("Unbounded-Regular.ttf");
}

@font-face {
  font-family: "Unbounded-Regular";
  src: url("Unbounded-Regular.ttf");
}